<h2>
    {{appName}}
</h2>
<div class="emptycontent">
    <div class="icon-contacts-dark svg"></div>
    <h2>
        {{loadingMsg}}
    </h2>
    <img class="loadingimport" src="{{loadingIcon}}"/>
</div>